@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&family=Rubik+Dirt&family=Rubik+Iso&family=Rubik+Marker+Hatch&family=Slabo+13px&family=Source+Sans+3:wght@300;600&display=swap');

body {
    padding: 0;
 

}

/* Font Styling for Header */
#logo {
    color: #3f6c51;
    font-size: 5vw;
    font-family: "Slabo 13px";
    letter-spacing: 8px;
    display: flex;
    justify-content: left;
    width: 100%;
    padding: 0;
    margin: 8px;
    text-decoration: underline;
}

/* Navigation items */
.nav-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 16px;
    padding: 16px;
}

.active{
    text-decoration: underline;
}

/* List styling and anchor styling */
li,
a {
    text-decoration: none;
    color: #f17518;
    list-style: none;
}

/* nav list styling */
.nav-items li {
    padding: 16px;
    width: 120px;
    border: 1px solid #f17518;
}

/* Nav animation on hover */
li:hover {
    color: #f17518;
    font-size: 150%;
    transition: ease-in-out 2s;
    justify-content: right;
    cursor: pointer;
}

/* Main image on landing page */
.hero-image {
    background-image: url("../glass apple.jpg");
    background-position: center;
    background-size: cover;
    filter: brightness(1.2);
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 4vw;
}

/* Text over hero image when hovered */
.hero-image p {
    font-family: "Slabo 13px";
    color: #f17518;
    opacity: 0;
    transform: scale(0);
    transition: 1.4s;
}

.hero-image:hover p {
    opacity: 1;
    transform: scale(1.9);
}

/* Ethos, testimonial and sign up section styling */
.ethos,
.testimonials, .sign-up {
    font-family: "Slabo 13px";
    color: #3f6c51;
    gap: 1px;
    padding: 5px;
}

/* Testimonial grid display */
.reviews {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 5fr 7fr 6fr;
    grid-template-rows: 4fr 3fr 3fr;
    justify-content: center;
    
}

.reviews p {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #3f6c51;
    padding: 5px;
}

.review1 {
    background-color: #fb65b5;
    color: #000000;
}

.review2 {
    background-color: #f3fb65;
    color: #000000;
}

.review3 {
    background-color: #9eff81;
    color: #000000;
}

.review4 {
    background-color: #9de0ff;
    color: #000000;
}

.orange {
    color: #f17518;
}

/* sign up information styling */
.sign-up-info{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Sign up boxes styling */
.j1,
.l1,
.t1 {
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    color: #3f6c51;
    border: 3px solid #000000;
    font-family: "Slabo 13px";
    padding: 15px;
}

/* Junior cert sign up background image */
.j1-img {
    background-image: url("../images/bag2.jpg");
    background-position: center;
    height: 40%;
    width: 100%;
    
    margin-bottom: 20px;
}

.j1-txt {
    display: flex;
    max-height: 40%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

/* Leaving cert sign up background image */
.l1-img {
    background-image: url("../images/bag1.jpg");
    background-position: center;
    height: 40%;
    width: 100%;
     margin-bottom: 20px;
}

.l1-txt {
    display: flex;
    height: 40%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Teacher sign up background image */
.t1-img {
    background-image: url("../images/apple.jpg");
    background-position: top;
    height: 40%;
    width: 100%;
    margin-bottom: 20px;
}

.t1-txt {
    display: flex;
    height: 40%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Sign up button link styling */
.jbutton,
.lbutton,
.tbutton {
    display: flex;
    margin-top: 15px;
    width: 100%;
    border: 1px solid #000000;
    justify-content: center;
    font-weight: 600;
}

/* Footer styling */
.footer {
    display: flex;
    width: 100%;
    height: 175px;
    background-color: #3f6c51;
    color: #f17518;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 0;
    position: relative;
    bottom: 0;
}

/* Social Network link styling */
.social-networks {
    display: flex;
    font-size: 48px;
    gap: 3vw;
}

/* Form background sizing */
.jform-background,
.lform-background,
.tform-background, .cform-background {
    display: flex;
    height: 1000px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    justify-content: center;
}

/* Teacher form background transparancy */
.tform-background::before {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    position: absolute;
    background-image: url("../images/apple.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.cform-background::before {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    position: absolute;
    background-image: url("../images/apple.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

/* Junior form background transparancy */
.jform-background::before {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    position: absolute;
    background-image: url("../images/bag2.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

/* Leaving form background transparancy */
.lform-background::before {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    position: absolute;
    background-image: url("../images/bag1.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

/* Sign up form background style */
.signup-form {
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 80%;
    width: 70%;
    border: 3px solid #000000;
    justify-content: center;
    text-align: left;
    align-items: center;
    margin-top: 30px;
    background: linear-gradient(145deg, #4fb97a80, #f17518e6);
}

.cform{
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 80%;
    width: 70%;
    border: 3px solid #000000;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    background: linear-gradient(145deg, #4fb97a80, #f17518e6);
}

.form-input {
    display: flex;
    flex-wrap: wrap;
}

.detail-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;

}

/* Media queries for screens 450px width and below */
@media screen and (max-width:450px) {
    .nav-items li {
        font-size: smaller;
        text-decoration: underline;
        width: 50px;
        padding: 2px;
        gap: 0;
        border: 0;
    }

    .signup-form {
        height: 100%;
        width: 100%;
    }

}

/* confirmation box styling */
